body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin: 100px auto;
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #2ecc71;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
